# DST

## tableinfo

In [94]:
import requests
json_body = {
   "table": "BYGV88"
}
result = requests.post("https://api.statbank.dk/v1/tableinfo",json = json_body).json()
result

{'id': 'BYGV88',
 'text': 'Det samlede etageareal (korrigeret for forsinkelser)',
 'description': 'Det samlede etageareal (korrigeret for forsinkelser) efter byggefase, anvendelse, bygherreforhold, sæsonkorrigering og tid',
 'unit': 'm2',
 'suppressedDataValue': '0',
 'updated': '2021-05-12T08:00:00',
 'active': True,
 'contacts': [{'name': 'Paul Lubson',
   'phone': '+4539173542',
   'mail': 'pal@dst.dk'}],
 'documentation': {'id': 'db96f09a-e616-40cb-ab0c-00eebff9ca6f',
  'url': 'https://www.dst.dk/statistikdokumentation/db96f09a-e616-40cb-ab0c-00eebff9ca6f'},
 'footnote': {'text': 'Overgangen til den nye version af BBR (ny struktur og nye metoder) i juni 2017 betød i forbindelse med offentliggørelsen af 4. kvartal 2017 og 1. kvartal 2018 store revisioner af alle byggestatistikkens tidsserier. For opgørelserne af tilladt og især påbegyndt byggeri er der dog stadig en betydelig usikkerhed om tallene for det seneste, løbende 1½ år. Det forventes, at der senere vil komme væsentlige opjusteringer af disse tal, når data er blevet registeret i BBR.',
  'mandatory': True},
 'variables': [{'id': 'BYGFASE',
   'text': 'byggefase',
   'elimination': False,
   'time': False,
   'values': [{'id': '2', 'text': 'Påbegyndt byggeri'},
    {'id': '3', 'text': 'Fuldført byggeri'},
    {'id': '4', 'text': 'Byggeri under opførelse'},
    {'id': '1', 'text': 'Tilladt byggeri'}]},
  {'id': 'ANVENDELSE',
   'text': 'anvendelse',
   'elimination': True,
   'time': False,
   'values': [{'id': '10000', 'text': 'Anvendelse i alt'},
    {'id': '10100', 'text': 'Beboelsesbygninger'},
    {'id': '10200', 'text': 'Erhvervsbygninger'},
    {'id': '10500', 'text': 'Øvrige bygninger'}]},
  {'id': 'BYGHERRE',
   'text': 'bygherreforhold',
   'elimination': True,
   'time': False,
   'values': [{'id': 'TOT', 'text': 'I alt'},
    {'id': 'PRIVAT', 'text': 'Private bygherrer'},
    {'id': 'BOLIG', 'text': 'Boligforeninger'},
    {'id': 'OFFBYG', 'text': 'Offentlige bygninger'}]},
  {'id': 'SÆSON',
   'text': 'sæsonkorrigering',
   'elimination': False,
   'time': False,
   'values': [{'id': 'EJSÆSON', 'text': 'Ikke sæsonkorrigeret'},
    {'id': 'SÆSON', 'text': 'Sæsonkorrigeret'}]},
  {'id': 'Tid',
   'text': 'tid',
   'elimination': False,
   'time': True,
   'values': [{'id': '1998M01', 'text': '1998M01'},
    {'id': '1998M02', 'text': '1998M02'},
    {'id': '1998M03', 'text': '1998M03'},
    {'id': '1998M04', 'text': '1998M04'},
    {'id': '1998M05', 'text': '1998M05'},
    {'id': '1998M06', 'text': '1998M06'},
    {'id': '1998M07', 'text': '1998M07'},
    {'id': '1998M08', 'text': '1998M08'},
    {'id': '1998M09', 'text': '1998M09'},
    {'id': '1998M10', 'text': '1998M10'},
    {'id': '1998M11', 'text': '1998M11'},
    {'id': '1998M12', 'text': '1998M12'},
    {'id': '1999M01', 'text': '1999M01'},
    {'id': '1999M02', 'text': '1999M02'},
    {'id': '1999M03', 'text': '1999M03'},
    {'id': '1999M04', 'text': '1999M04'},
    {'id': '1999M05', 'text': '1999M05'},
    {'id': '1999M06', 'text': '1999M06'},
    {'id': '1999M07', 'text': '1999M07'},
    {'id': '1999M08', 'text': '1999M08'},
    {'id': '1999M09', 'text': '1999M09'},
    {'id': '1999M10', 'text': '1999M10'},
    {'id': '1999M11', 'text': '1999M11'},
    {'id': '1999M12', 'text': '1999M12'},
    {'id': '2000M01', 'text': '2000M01'},
    {'id': '2000M02', 'text': '2000M02'},
    {'id': '2000M03', 'text': '2000M03'},
    {'id': '2000M04', 'text': '2000M04'},
    {'id': '2000M05', 'text': '2000M05'},
    {'id': '2000M06', 'text': '2000M06'},
    {'id': '2000M07', 'text': '2000M07'},
    {'id': '2000M08', 'text': '2000M08'},
    {'id': '2000M09', 'text': '2000M09'},
    {'id': '2000M10', 'text': '2000M10'},
    {'id': '2000M11', 'text': '2000M11'},
    {'id': '2000M12', 'text': '2000M12'},
    {'id': '2001M01', 'text': '2001M01'},
    {'id': '2001M02', 'text': '2001M02'},
    {'id': '2001M03', 'text': '2001M03'},
    {'id': '2001M04', 'text': '2001M04'},
    {'id': '2001M05', 'text': '2001M05'},
    {'id': '2001M06', 'text': '2001M06'},
    {'id': '2001M07', 'text': '2001M07'},
    {'id': '2001M08', 'text': '2001M08'},
    {'id': '2001M09', 'text': '2001M09'},
    {'id': '2001M10', 'text': '2001M10'},
    {'id': '2001M11', 'text': '2001M11'},
    {'id': '2001M12', 'text': '2001M12'},
    {'id': '2002M01', 'text': '2002M01'},
    {'id': '2002M02', 'text': '2002M02'},
    {'id': '2002M03', 'text': '2002M03'},
    {'id': '2002M04', 'text': '2002M04'},
    {'id': '2002M05', 'text': '2002M05'},
    {'id': '2002M06', 'text': '2002M06'},
    {'id': '2002M07', 'text': '2002M07'},
    {'id': '2002M08', 'text': '2002M08'},
    {'id': '2002M09', 'text': '2002M09'},
    {'id': '2002M10', 'text': '2002M10'},
    {'id': '2002M11', 'text': '2002M11'},
    {'id': '2002M12', 'text': '2002M12'},
    {'id': '2003M01', 'text': '2003M01'},
    {'id': '2003M02', 'text': '2003M02'},
    {'id': '2003M03', 'text': '2003M03'},
    {'id': '2003M04', 'text': '2003M04'},
    {'id': '2003M05', 'text': '2003M05'},
    {'id': '2003M06', 'text': '2003M06'},
    {'id': '2003M07', 'text': '2003M07'},
    {'id': '2003M08', 'text': '2003M08'},
    {'id': '2003M09', 'text': '2003M09'},
    {'id': '2003M10', 'text': '2003M10'},
    {'id': '2003M11', 'text': '2003M11'},
    {'id': '2003M12', 'text': '2003M12'},
    {'id': '2004M01', 'text': '2004M01'},
    {'id': '2004M02', 'text': '2004M02'},
    {'id': '2004M03', 'text': '2004M03'},
    {'id': '2004M04', 'text': '2004M04'},
    {'id': '2004M05', 'text': '2004M05'},
    {'id': '2004M06', 'text': '2004M06'},
    {'id': '2004M07', 'text': '2004M07'},
    {'id': '2004M08', 'text': '2004M08'},
    {'id': '2004M09', 'text': '2004M09'},
    {'id': '2004M10', 'text': '2004M10'},
    {'id': '2004M11', 'text': '2004M11'},
    {'id': '2004M12', 'text': '2004M12'},
    {'id': '2005M01', 'text': '2005M01'},
    {'id': '2005M02', 'text': '2005M02'},
    {'id': '2005M03', 'text': '2005M03'},
    {'id': '2005M04', 'text': '2005M04'},
    {'id': '2005M05', 'text': '2005M05'},
    {'id': '2005M06', 'text': '2005M06'},
    {'id': '2005M07', 'text': '2005M07'},
    {'id': '2005M08', 'text': '2005M08'},
    {'id': '2005M09', 'text': '2005M09'},
    {'id': '2005M10', 'text': '2005M10'},
    {'id': '2005M11', 'text': '2005M11'},
    {'id': '2005M12', 'text': '2005M12'},
    {'id': '2006M01', 'text': '2006M01'},
    {'id': '2006M02', 'text': '2006M02'},
    {'id': '2006M03', 'text': '2006M03'},
    {'id': '2006M04', 'text': '2006M04'},
    {'id': '2006M05', 'text': '2006M05'},
    {'id': '2006M06', 'text': '2006M06'},
    {'id': '2006M07', 'text': '2006M07'},
    {'id': '2006M08', 'text': '2006M08'},
    {'id': '2006M09', 'text': '2006M09'},
    {'id': '2006M10', 'text': '2006M10'},
    {'id': '2006M11', 'text': '2006M11'},
    {'id': '2006M12', 'text': '2006M12'},
    {'id': '2007M01', 'text': '2007M01'},
    {'id': '2007M02', 'text': '2007M02'},
    {'id': '2007M03', 'text': '2007M03'},
    {'id': '2007M04', 'text': '2007M04'},
    {'id': '2007M05', 'text': '2007M05'},
    {'id': '2007M06', 'text': '2007M06'},
    {'id': '2007M07', 'text': '2007M07'},
    {'id': '2007M08', 'text': '2007M08'},
    {'id': '2007M09', 'text': '2007M09'},
    {'id': '2007M10', 'text': '2007M10'},
    {'id': '2007M11', 'text': '2007M11'},
    {'id': '2007M12', 'text': '2007M12'},
    {'id': '2008M01', 'text': '2008M01'},
    {'id': '2008M02', 'text': '2008M02'},
    {'id': '2008M03', 'text': '2008M03'},
    {'id': '2008M04', 'text': '2008M04'},
    {'id': '2008M05', 'text': '2008M05'},
    {'id': '2008M06', 'text': '2008M06'},
    {'id': '2008M07', 'text': '2008M07'},
    {'id': '2008M08', 'text': '2008M08'},
    {'id': '2008M09', 'text': '2008M09'},
    {'id': '2008M10', 'text': '2008M10'},
    {'id': '2008M11', 'text': '2008M11'},
    {'id': '2008M12', 'text': '2008M12'},
    {'id': '2009M01', 'text': '2009M01'},
    {'id': '2009M02', 'text': '2009M02'},
    {'id': '2009M03', 'text': '2009M03'},
    {'id': '2009M04', 'text': '2009M04'},
    {'id': '2009M05', 'text': '2009M05'},
    {'id': '2009M06', 'text': '2009M06'},
    {'id': '2009M07', 'text': '2009M07'},
    {'id': '2009M08', 'text': '2009M08'},
    {'id': '2009M09', 'text': '2009M09'},
    {'id': '2009M10', 'text': '2009M10'},
    {'id': '2009M11', 'text': '2009M11'},
    {'id': '2009M12', 'text': '2009M12'},
    {'id': '2010M01', 'text': '2010M01'},
    {'id': '2010M02', 'text': '2010M02'},
    {'id': '2010M03', 'text': '2010M03'},
    {'id': '2010M04', 'text': '2010M04'},
    {'id': '2010M05', 'text': '2010M05'},
    {'id': '2010M06', 'text': '2010M06'},
    {'id': '2010M07', 'text': '2010M07'},
    {'id': '2010M08', 'text': '2010M08'},
    {'id': '2010M09', 'text': '2010M09'},
    {'id': '2010M10', 'text': '2010M10'},
    {'id': '2010M11', 'text': '2010M11'},
    {'id': '2010M12', 'text': '2010M12'},
    {'id': '2011M01', 'text': '2011M01'},
    {'id': '2011M02', 'text': '2011M02'},
    {'id': '2011M03', 'text': '2011M03'},
    {'id': '2011M04', 'text': '2011M04'},
    {'id': '2011M05', 'text': '2011M05'},
    {'id': '2011M06', 'text': '2011M06'},
    {'id': '2011M07', 'text': '2011M07'},
    {'id': '2011M08', 'text': '2011M08'},
    {'id': '2011M09', 'text': '2011M09'},
    {'id': '2011M10', 'text': '2011M10'},
    {'id': '2011M11', 'text': '2011M11'},
    {'id': '2011M12', 'text': '2011M12'},
    {'id': '2012M01', 'text': '2012M01'},
    {'id': '2012M02', 'text': '2012M02'},
    {'id': '2012M03', 'text': '2012M03'},
    {'id': '2012M04', 'text': '2012M04'},
    {'id': '2012M05', 'text': '2012M05'},
    {'id': '2012M06', 'text': '2012M06'},
    {'id': '2012M07', 'text': '2012M07'},
    {'id': '2012M08', 'text': '2012M08'},
    {'id': '2012M09', 'text': '2012M09'},
    {'id': '2012M10', 'text': '2012M10'},
    {'id': '2012M11', 'text': '2012M11'},
    {'id': '2012M12', 'text': '2012M12'},
    {'id': '2013M01', 'text': '2013M01'},
    {'id': '2013M02', 'text': '2013M02'},
    {'id': '2013M03', 'text': '2013M03'},
    {'id': '2013M04', 'text': '2013M04'},
    {'id': '2013M05', 'text': '2013M05'},
    {'id': '2013M06', 'text': '2013M06'},
    {'id': '2013M07', 'text': '2013M07'},
    {'id': '2013M08', 'text': '2013M08'},
    {'id': '2013M09', 'text': '2013M09'},
    {'id': '2013M10', 'text': '2013M10'},
    {'id': '2013M11', 'text': '2013M11'},
    {'id': '2013M12', 'text': '2013M12'},
    {'id': '2014M01', 'text': '2014M01'},
    {'id': '2014M02', 'text': '2014M02'},
    {'id': '2014M03', 'text': '2014M03'},
    {'id': '2014M04', 'text': '2014M04'},
    {'id': '2014M05', 'text': '2014M05'},
    {'id': '2014M06', 'text': '2014M06'},
    {'id': '2014M07', 'text': '2014M07'},
    {'id': '2014M08', 'text': '2014M08'},
    {'id': '2014M09', 'text': '2014M09'},
    {'id': '2014M10', 'text': '2014M10'},
    {'id': '2014M11', 'text': '2014M11'},
    {'id': '2014M12', 'text': '2014M12'},
    {'id': '2015M01', 'text': '2015M01'},
    {'id': '2015M02', 'text': '2015M02'},
    {'id': '2015M03', 'text': '2015M03'},
    {'id': '2015M04', 'text': '2015M04'},
    {'id': '2015M05', 'text': '2015M05'},
    {'id': '2015M06', 'text': '2015M06'},
    {'id': '2015M07', 'text': '2015M07'},
    {'id': '2015M08', 'text': '2015M08'},
    {'id': '2015M09', 'text': '2015M09'},
    {'id': '2015M10', 'text': '2015M10'},
    {'id': '2015M11', 'text': '2015M11'},
    {'id': '2015M12', 'text': '2015M12'},
    {'id': '2016M01', 'text': '2016M01'},
    {'id': '2016M02', 'text': '2016M02'},
    {'id': '2016M03', 'text': '2016M03'},
    {'id': '2016M04', 'text': '2016M04'},
    {'id': '2016M05', 'text': '2016M05'},
    {'id': '2016M06', 'text': '2016M06'},
    {'id': '2016M07', 'text': '2016M07'},
    {'id': '2016M08', 'text': '2016M08'},
    {'id': '2016M09', 'text': '2016M09'},
    {'id': '2016M10', 'text': '2016M10'},
    {'id': '2016M11', 'text': '2016M11'},
    {'id': '2016M12', 'text': '2016M12'},
    {'id': '2017M01', 'text': '2017M01'},
    {'id': '2017M02', 'text': '2017M02'},
    {'id': '2017M03', 'text': '2017M03'},
    {'id': '2017M04', 'text': '2017M04'},
    {'id': '2017M05', 'text': '2017M05'},
    {'id': '2017M06', 'text': '2017M06'},
    {'id': '2017M07', 'text': '2017M07'},
    {'id': '2017M08', 'text': '2017M08'},
    {'id': '2017M09', 'text': '2017M09'},
    {'id': '2017M10', 'text': '2017M10'},
    {'id': '2017M11', 'text': '2017M11'},
    {'id': '2017M12', 'text': '2017M12'},
    {'id': '2018M01', 'text': '2018M01'},
    {'id': '2018M02', 'text': '2018M02'},
    {'id': '2018M03', 'text': '2018M03'},
    {'id': '2018M04', 'text': '2018M04'},
    {'id': '2018M05', 'text': '2018M05'},
    {'id': '2018M06', 'text': '2018M06'},
    {'id': '2018M07', 'text': '2018M07'},
    {'id': '2018M08', 'text': '2018M08'},
    {'id': '2018M09', 'text': '2018M09'},
    {'id': '2018M10', 'text': '2018M10'},
    {'id': '2018M11', 'text': '2018M11'},
    {'id': '2018M12', 'text': '2018M12'},
    {'id': '2019M01', 'text': '2019M01'},
    {'id': '2019M02', 'text': '2019M02'},
    {'id': '2019M03', 'text': '2019M03'},
    {'id': '2019M04', 'text': '2019M04'},
    {'id': '2019M05', 'text': '2019M05'},
    {'id': '2019M06', 'text': '2019M06'},
    {'id': '2019M07', 'text': '2019M07'},
    {'id': '2019M08', 'text': '2019M08'},
    {'id': '2019M09', 'text': '2019M09'},
    {'id': '2019M10', 'text': '2019M10'},
    {'id': '2019M11', 'text': '2019M11'},
    {'id': '2019M12', 'text': '2019M12'},
    {'id': '2020M01', 'text': '2020M01'},
    {'id': '2020M02', 'text': '2020M02'},
    {'id': '2020M03', 'text': '2020M03'},
    {'id': '2020M04', 'text': '2020M04'},
    {'id': '2020M05', 'text': '2020M05'},
    {'id': '2020M06', 'text': '2020M06'},
    {'id': '2020M07', 'text': '2020M07'},
    {'id': '2020M08', 'text': '2020M08'},
    {'id': '2020M09', 'text': '2020M09'},
    {'id': '2020M10', 'text': '2020M10'},
    {'id': '2020M11', 'text': '2020M11'},
    {'id': '2020M12', 'text': '2020M12'},
    {'id': '2021M01', 'text': '2021M01'},
    {'id': '2021M02', 'text': '2021M02'},
    {'id': '2021M03', 'text': '2021M03'}]}]}

## Data

In [95]:
variables_ = []
for item in result['variables']:
    code = item['id']
    values = [value['id'] for value in item['values']]
    variables_.append( {'code':code,'values':values} )

In [96]:
import pandas as pd
from io import StringIO

json_body = {
   "table": "BYGV88",
   "format": "CSV",
   "timeOrder": "Ascending",
   "variables": variables_
}
result = requests.post("https://api.statbank.dk/v1/data",json = json_body)
pd.read_csv(StringIO(result.text),sep=";")

                 BYGFASE        ANVENDELSE  ...      TID INDHOLD
0      Påbegyndt byggeri  Anvendelse i alt  ...  1998M01  570555
1      Påbegyndt byggeri  Anvendelse i alt  ...  1998M02  607638
2      Påbegyndt byggeri  Anvendelse i alt  ...  1998M03  858924
3      Påbegyndt byggeri  Anvendelse i alt  ...  1998M04  860835
4      Påbegyndt byggeri  Anvendelse i alt  ...  1998M05  863822
...                  ...               ...  ...      ...     ...
35707    Tilladt byggeri  Øvrige bygninger  ...  2020M11       0
35708    Tilladt byggeri  Øvrige bygninger  ...  2020M12       0
35709    Tilladt byggeri  Øvrige bygninger  ...  2021M01       0
35710    Tilladt byggeri  Øvrige bygninger  ...  2021M02       0
35711    Tilladt byggeri  Øvrige bygninger  ...  2021M03       0

[35712 rows x 6 columns]

# As a function

In [101]:
def get_dst_dataframe(table_id,parse_date=True):
    import requests
    import pandas as pd
    from io import StringIO
    from datetime import datetime

    json_body = {
    "table": table_id
    }
    result_meta = requests.post("https://api.statbank.dk/v1/tableinfo",json = json_body).json()
    result = requests.post("https://api.statbank.dk/v1/tableinfo",json = json_body).json()
    # Build variable
    variables_ = []
    for item in result['variables']:
        code = item['id']
        values = [value['id'] for value in item['values']]
        variables_.append( {'code':code,'values':values} )
    json_body = {
        "table": table_id,
        "format": "CSV",
        "timeOrder": "Ascending",
        "variables": variables_
    }
    result = requests.post("https://api.statbank.dk/v1/data",json = json_body)
    result_df = pd.read_csv(StringIO(result.text),sep=";")
    # Parse date
    if parse_date:
        # Month
        if 'M' in result_df.iloc[0]['TID']:
            result_df['TID'] = result_df['TID'].apply(lambda x: datetime.strptime(x, '%YM%m') )

    return result_df

In [98]:
get_dst_dataframe("BYGV88")

                 BYGFASE        ANVENDELSE  ...                  TID INDHOLD
0      Påbegyndt byggeri  Anvendelse i alt  ...  01-01-1998 00:00:00  570555
1      Påbegyndt byggeri  Anvendelse i alt  ...  01-02-1998 00:00:00  607638
2      Påbegyndt byggeri  Anvendelse i alt  ...  01-03-1998 00:00:00  858924
3      Påbegyndt byggeri  Anvendelse i alt  ...  01-04-1998 00:00:00  860835
4      Påbegyndt byggeri  Anvendelse i alt  ...  01-05-1998 00:00:00  863822
...                  ...               ...  ...                  ...     ...
35707    Tilladt byggeri  Øvrige bygninger  ...  01-11-2020 00:00:00       0
35708    Tilladt byggeri  Øvrige bygninger  ...  01-12-2020 00:00:00       0
35709    Tilladt byggeri  Øvrige bygninger  ...  01-01-2021 00:00:00       0
35710    Tilladt byggeri  Øvrige bygninger  ...  01-02-2021 00:00:00       0
35711    Tilladt byggeri  Øvrige bygninger  ...  01-03-2021 00:00:00       0

[35712 rows x 6 columns]

In [99]:
get_dst_dataframe("EJ13")

                  REGION            EJENDOMSKATE  ...                  TID INDHOLD
0            Hele landet           Enfamiliehuse  ...  01-01-2006 00:00:00    3676
1            Hele landet           Enfamiliehuse  ...  01-02-2006 00:00:00    3923
2            Hele landet           Enfamiliehuse  ...  01-03-2006 00:00:00    5004
3            Hele landet           Enfamiliehuse  ...  01-04-2006 00:00:00    4035
4            Hele landet           Enfamiliehuse  ...  01-05-2006 00:00:00    4890
...                  ...                     ...  ...                  ...     ...
8731  Region Nordjylland  Ejerlejligheder, i alt  ...  01-10-2020 00:00:00      ..
8732  Region Nordjylland  Ejerlejligheder, i alt  ...  01-11-2020 00:00:00      ..
8733  Region Nordjylland  Ejerlejligheder, i alt  ...  01-12-2020 00:00:00      ..
8734  Region Nordjylland  Ejerlejligheder, i alt  ...  01-01-2021 00:00:00      ..
8735  Region Nordjylland  Ejerlejligheder, i alt  ...  01-02-2021 00:00:00      ..

[8736 rows x 5 columns]

In [100]:
get_dst_dataframe("EJ14")

                  REGION            EJENDOMSKATE  ...                  TID INDHOLD
0            Hele landet           Enfamiliehuse  ...  01-01-2006 00:00:00    92,5
1            Hele landet           Enfamiliehuse  ...  01-02-2006 00:00:00    94,2
2            Hele landet           Enfamiliehuse  ...  01-03-2006 00:00:00    96,4
3            Hele landet           Enfamiliehuse  ...  01-04-2006 00:00:00    98,8
4            Hele landet           Enfamiliehuse  ...  01-05-2006 00:00:00   100,4
...                  ...                     ...  ...                  ...     ...
6547  Region Nordjylland  Ejerlejligheder, i alt  ...  01-10-2020 00:00:00      ..
6548  Region Nordjylland  Ejerlejligheder, i alt  ...  01-11-2020 00:00:00      ..
6549  Region Nordjylland  Ejerlejligheder, i alt  ...  01-12-2020 00:00:00      ..
6550  Region Nordjylland  Ejerlejligheder, i alt  ...  01-01-2021 00:00:00      ..
6551  Region Nordjylland  Ejerlejligheder, i alt  ...  01-02-2021 00:00:00      ..

[6552 rows x 5 columns]